@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Fredoka One', sans-serif;
}

@layer base {
  :root {
    --background: 60 100% 95%; /* Jaune pastel clair */
    --foreground: 240 100% 10%; /* Bleu foncé */
    --primary: 340 100% 80%; /* Rose vif */
    --primary-foreground: 0 0% 100%; /* Blanc */
    --secondary: 200 100% 70%; /* Bleu vif */
    --secondary-foreground: 0 0% 100%; /* Blanc */
    --accent: 120 100% 70%; /* Vert vif */
    --accent-foreground: 0 0% 100%; /* Blanc */
    --destructive: 0 100% 70%; /* Rouge vif */
    --destructive-foreground: 0 0% 100%; /* Blanc */
    --muted: 60 100% 90%; /* Jaune clair */
    --muted-foreground: 240 100% 20%; /* Bleu moyen */
    --card: 30 100% 90%; /* Orange pastel clair */
    --card-foreground: 240 100% 10%; /* Bleu foncé */
    --popover: 0 0% 100%; /* Blanc */
    --popover-foreground: 240 100% 10%; /* Bleu foncé */
    --border: 240 100% 80%; /* Bleu clair */
    --input: 240 100% 70%; /* Bleu moyen */
    --ring: 240 100% 60%; /* Bleu foncé */
    --radius: 1rem; /* Rayon des bordures */
  }
}


.backgroundCustom {
  background: whitesmoke;
}